.chat{
    display: flex;
    flex-direction: column;
    height: 97vh;
}

/* chat header sytle  */

.chat__header{
    background-color: var(--menu-section-bc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 55px;
    border-bottom: var(--border);
}
.chat__name{
    color: var(--text-color);
    font-size: 15px;
    font-weight: normal;
}
.chat__time{
    color: var(--subtext-color);
    font-size: 13px;
}
.chat__icons{
    display: flex;
    /* width: 120px; */
    display: flex;
    justify-content: space-around;
}
.chat__icon{
    color:var(--icon-color);
    cursor: pointer;
    padding: 0px 12px;
}
.chat__icon path{
    stroke: var(--icon-color);
}
.chat__icon:hover path{
    stroke: var(--active-text);
}

.chat__icon:hover{
    color:var(--active-text);
}


/* char form style here  */

.chat__form{
    display: flex;
    width: 100%;
    align-items: center;
    height: 50px;
    background-color: var(--menu-section-bc);
}
.chat__form input{
    flex: 1;
    border: none;
    outline-width: 0;
    height: 70%;
    background-color: inherit;
    color: var(--text-color);
}
.chat__form .chat__icon{
    font-size: 22px;
}
.chat__form button{
    display: none;
}

/* chat message block here  */

.chat__message-block{
    flex: 1;
}
.chat__message-block::-webkit-scrollbar{
    display: none;
}
.chat__message-block{
    overflow: scroll;
    scrollbar-width: 0;
    height: 538px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.chat__message{
    margin: 12px 0;
    padding: 5px 9px ;
    border-radius: 15px;
    min-height: 30px;
    background-color: var(--sender-bc);
    max-width: 300px;
    width: 50%;
}
.chat__message-text{
    color: var(--text-color);
    font-size: 14px;
    line-height: 150%;
    white-space: pre-wrap;
}
.chat__message-time{
    font-size: 12px;
    color: var(--my-msg-time-color2);
}
.chat__message-block > *{
    /* max-width: 50%; */
}
.chat__come-message{
    border-bottom-left-radius: 0;
    margin-left: 15px;
    text-align: left;
    margin-right: auto;
}
.chat__come-message span{
    text-align: right;
    display: block;
}
.chat__go-message{
    border-bottom-right-radius: 0;
    margin-right: 15px;
    text-align: right;
    margin-left: auto;
    background-color: var(--active-bc);
}