:root{
  --main-color:  #17212B;
  --main-bc: #0e1621;
  --main-border-color: #0A121B;
  /* --text-color: #F5F5F5; */
  --text-color:#d8d9da;
  --subtext-color: #708499;
  --icon-color: #576673;
  --icon-hv: #2c3847;
  --icon-hover: #e92539;
  --icon: #6C7883;
  --my-msg-time-color1: #7DA8D3;
  --my-msg-time-color2:#7D9AA7;
  --blue: #6AB3F3;
  --auth-btn: #4677a9;
  --auth-btn-hv: #5188c1;
  --auth-text-color: #5b99d4;
  
  --top-bc: #1F2936;
  
  --menu-section-bc: #17212B;
  --users-section-bc: #17212B;
  --chat-section-bc: #0E1621;
  --sender-bc: #17212B;
  --info-section-bc: #232E3C;
  --info-border: 10px solid var(--top-bc);
  --info-row-bc: #1F2936;
  
  --header-bc: #17212B;
  
  --active-bc: #2B5278;
  --active-text: #F5F5F5;
  
  --hover-bc: #202B36;
  --scroll-bc: #2f3841;
  --scroll-color: #787f85;
  --border: 1px solid #0c121a;
}


*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}