.app{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


/* // top section style */
.top{
    height: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--top-bc);
    align-items: center;
    
}
.top__icons{
    display: flex;
}
.top__icon{
    padding: 0px 7px;
    cursor: pointer;
}
.top__icon:hover{
    background-color: var(--icon-hv);
}
.top__icon:last-child:hover{
    font-size: 18px;
    background-color: var(--icon-hover);
}
.top__icon, .top__icon path{
    color: var(--icon-color);
    stroke: var(--icon-color);
}

/* // main layot  */

.app__main{
    display: flex;
    flex: 1;
    background-color: var(--main-color);
}

.contact{
    background-color: var(--menu-section-bc);
    min-width: 262px;
    width: 262px;
    border-right: 1px var( --main-border-color) solid;
   
}
.contact__user::-webkit-scrollbar{
    display: none;
}
.contact__user{
    overflow: scroll;
    scrollbar-width: 0;
    height: 90vh;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.chat{
    flex: 1;
    min-width: 350px;
    background-color: var(--chat-section-bc);
}
.info{
    min-width: 292px;
    max-width: 392px;
    background-color: var(--menu-section-bc);
    border-left: 1px var( --main-border-color) solid;
   
}