.app{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}


/* // top section style */
.top{
    height: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--top-bc);
    align-items: center;
    
}
.top__icons{
    display: flex;
}
.top__icon{
    padding: 0px 7px;
    cursor: pointer;
}
.top__icon:hover{
    background-color: var(--icon-hover);
}
.top__icon, .top__icon path{
    color: var(--icon-color);
    stroke: var(--icon-color);
}

/* // main layot  */

.app__main{
    display: flex;
    flex: 1;
    background-color: var(--main-color);
}

.contact{
    background-color: var(--menu-section-bc);
    min-width: 262px;
    width: 262px;
    border-right: 1px  --main-border-color solid;
}
.chat{
    flex: 1;
    min-width: 350px;
    background-color: var(--chat-section-bc);
}
.info{
    min-width: 292px;
    max-width: 392px;
    background-color: var(--menu-section-bc);
}