.contact__header{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}
.contact__icon{
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
