:root{
  --main-color:  #17212B;
  --main-border-color: #0A121B;
  --text-color: #F5F5F5;
  --subtext-color: #708499;
  --icon-color: #576673;
  --icon-hv: #2c3847;
  --icon-hover: #e92539;
  --icon: #6C7883;
  --my-msg-time-color1: #7DA8D3;
  --my-msg-time-color2:#7D9AA7;
  --blue: #6AB3F3;
  
  --top-bc: #1F2936;
  
  --menu-section-bc: #17212B;
  --users-section-bc: #17212B;
  --chat-section-bc: #0E1621;
  --sender-bc: #17212B;
  --info-section-bc: #232E3C;
  
  --header-bc: #17212B;
  
  --active-bc: #2B5278;
  --active-text: #F5F5F5;
  
  --hover-bc: #202B36;
}


*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}